
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  min-height: 8vh;
  background-color: #fdfdfd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #eaeaea;
  padding: 0 20px;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 120px;
  object-fit: contain;
  cursor: pointer;
}

.header-products {
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
}

.header-middle {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #b1b0b0;
  transition: width 0.3s ease, opacity 0.3s ease;
  width: 100%;
  max-width: 400px;
}
.header-search-container input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  margin-left: 10px;
  transition: width 0.3s ease;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-right-container a {
  display: flex;
  align-items: center;
  text-decoration: none; 
  color: inherit; 
}

.profileImage {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.hamburger-icon {
  display: none;
}


  .header-middle {
    display: flex;
  }

  .header-search-container {
    display: flex;
    max-width: 500px; 
    align-items: center;
  }

  .mobile-search-icon, .mobile-close-icon {
    display: none;
  }


@media screen and (max-width: 768px) {
  .header-search-container.mobile-visible {
    width: 90;
  }
  .header-container {
    flex-wrap: nowrap;
  }

  .header-middle {
    width: 100%;
    justify-content: flex-end;
  }

  .header-search-container {
    display: none; 
  }

  .header-right-container {
    gap: 10px;
  }

  .header-middle {
    width: 100%;
    justify-content: flex-end;
  }

  .header-search-container {
    display: none;
  }

  .header-search-container.mobile-visible {
    display: flex;
    position: absolute;
    top: 8vh;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 8px 12px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    z-index: 1000;
  }

  .header-container .mobile-search-icon {
    display: flex !important; 
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    color: #555;
  }
  
  .mobile-close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    color: #555;
    margin-left: 10px;
  }
}
